<div class="container-fluid nav">
  <div class="col-sm-4">
    <img src="../assets/favicon.png" alt="QUOTESPOT logo" class="rss opacity" />
  </div>
  <div class="col-sm-8"><app-nav-bar></app-nav-bar></div>
</div>
<app-quote></app-quote>
<div class="container-fluid footer">
  <a href="https://wa.me/qr/FKPHTHIA7IL6D1"><i class="bi bi-whatsapp"></i></a>
  <a href="https://www.facebook.com/sniffrades"
    ><i class="bi bi-facebook"></i
  ></a>

  <p>&copy;Copyright | 2022</p>
  <p>Created by: Victor Ondari</p>
</div>
