<div class="container text-success">
  <div *ngFor="let quote of quotes; let i = index">
    <p>
      {{ quote.id }}. {{ quote.theQuote }} <br />
      <button (click)="details(i)">Details</button>
      <app-quote-vote></app-quote-vote>
    </p>

    <div *ngIf="quote.showDetails">
      <app-quote-detail
        [quote]="quote"
        (isComplete)="deleteQuote($event, i)"
      ></app-quote-detail>
    </div>
  </div>
  <div>
    <app-form (addQuote)="addNewQuote($event)"></app-form>
  </div>
</div>
